body{
    background-color:#f4f7f4;
    font-family:Arial, sans-serif;
}

header{
    background:#2e7d32;
    color:white;
    padding:30px;
}

.seccion{
    padding:30px;
}

p{
    text-align:justify;
}

h2{
    text-align:center;
}

aside{
    background:#e8f5e9;
    border-radius:10px;
}

aside p,
aside h2,
aside h4{
    text-align:center;
}

.card{
    box-shadow:0px 2px 8px rgba(0,0,0,.2);
    transition:.3s;
    border-radius:12px;
}

.card:hover{
    transform:scale(1.03);
}

footer{
    background:#2e7d32;
    color:white;
    padding:15px;
}

iframe{
    max-width:100%;
}

.form-control:focus{
    box-shadow:0 0 8px rgba(46,125,50,.3);
    border-color:#2e7d32;
}

.btn{
    transition:.3s;
}

.btn:hover{
    transform:scale(1.03);
}

.alert{
    margin-top:15px;
}

#listaCultivos .card{
    border-left:6px solid #2e7d32;
}

@media(max-width:768px){

    h1{
        font-size:28px;
    }

    h2{
        font-size:22px;
    }

    iframe{
        width:100%;
        height:auto;
    }

}
/* ===============================
   SEMANA 8
   Mejoras con Bootstrap
================================= */

.navbar{
    box-shadow:0 2px 8px rgba(0,0,0,.2);
}

.navbar-brand{
    font-size:24px;
}

.nav-link{
    transition:.3s;
}

.nav-link:hover{
    color:#8bc34a !important;
}

.form-label{
    font-weight:bold;
    color:#2e7d32;
}

.btn-success{
    font-weight:bold;
}

.spinner-border{
    width:3rem;
    height:3rem;
}

#spinner{
    display:block;
    margin:auto;
}

.modal-header{
    background:#2e7d32;
    color:white;
}

.modal-title{
    font-weight:bold;
}

.modal-content{
    border-radius:15px;
}

.modal-footer{
    justify-content:center;
}

.alert-primary{
    font-size:18px;
    font-weight:bold;
}

#totalRegistros{
    font-size:22px;
    color:#2e7d32;
}

.is-valid{
    border:2px solid #2e7d32;
}


.is-invalid{
    border:2px solid #dc3545;
}

img{
    transition:.3s;
}

img:hover{
    transform:scale(1.02);
}