{% extends "base.html" %}

{% block title %}
Productos - AgroTech
{% endblock %}

{% block content %}

<section class="seccion">

    <h2>Productos Agrícolas</h2>

    <p>
        En este módulo se presentan productos relacionados
        con la actividad agrícola.
    </p>

    <div class="row">

        <div class="col-md-4 mb-3">

            <div class="card p-3 h-100">

                <h4>Semillas</h4>

                <p>
                    Productos utilizados para la siembra
                    y producción agrícola.
                </p>

            </div>

        </div>

        <div class="col-md-4 mb-3">

            <div class="card p-3 h-100">

                <h4>Fertilizantes</h4>

                <p>
                    Productos utilizados para mejorar
                    el desarrollo de los cultivos.
                </p>

            </div>

        </div>

        <div class="col-md-4 mb-3">

            <div class="card p-3 h-100">

                <h4>Herramientas</h4>

                <p>
                    Herramientas utilizadas para facilitar
                    las actividades agrícolas.
                </p>

            </div>

        </div>

    </div>

</section>

{% endblock %}