{% extends "base.html" %}

{% block title %}
Productos - AgroTech
{% endblock %}

{% block content %}

<!-- TÍTULO Y BOTÓN -->
<section class="seccion">

    <h2 class="text-center mb-4">
        Productos Agrícolas
    </h2>

    <p class="text-center">
        Los siguientes productos son generados dinámicamente
        mediante Jinja2 a partir de información enviada desde Flask.
    </p>

    <div class="text-center mb-4">

        <a
            href="{{ url_for('nuevo_producto') }}"
            class="btn btn-success shadow">

            Registrar Producto

        </a>

    </div>


    <!-- LISTA DE PRODUCTOS -->

    <div class="row">

        {% for producto in productos %}

        <div class="col-md-4 mb-4">

            <div class="card shadow h-100 p-3">

                <h4>
                    {{ producto.nombre }}
                </h4>

                <p>
                    <strong>Categoría:</strong>
                    {{ producto.categoria }}
                </p>

                <p>
                    <strong>Precio:</strong>
                    ${{ producto.precio }}
                </p>


                {% if producto.stock > 0 %}

                    <span class="badge bg-success">
                        Disponible
                    </span>

                    <p class="mt-2">
                        Stock disponible: {{ producto.stock }}
                    </p>

                {% else %}

                    <span class="badge bg-danger">
                        Agotado
                    </span>

                    <p class="mt-2">
                        Stock disponible: {{ producto.stock }}
                    </p>

                {% endif %}

            </div>

        </div>

        {% else %}

        <div class="alert alert-warning">
            No existen productos registrados.
        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}