{% extends "base.html" %}

{% block title %}
Proveedores - AgroTech
{% endblock %}

{% block content %}

<section class="seccion">

    <h2 class="text-center mb-4">
        Proveedores
    </h2>

    <p>
        Información demostrativa de los proveedores relacionados
        con las actividades agrícolas.
    </p>

    <div class="row">

        {% for proveedor in proveedores %}

        <div class="col-md-4 mb-4">

            <div class="card shadow h-100 p-3">

                <h4>
                    {{ proveedor.nombre }}
                </h4>

                <p>
                    {{ proveedor.descripcion }}
                </p>


                {% if proveedor.estado == "Activo" %}

                    <span class="badge bg-success">
                        {{ proveedor.estado }}
                    </span>

                {% else %}

                    <span class="badge bg-danger">
                        {{ proveedor.estado }}
                    </span>

                {% endif %}

            </div>

        </div>

        {% else %}

        <div class="alert alert-warning">
            No existen proveedores registrados.
        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}