{% extends "base.html" %}

{% block title %}
Proveedores - AgroTech
{% endblock %}

{% block content %}

<section class="seccion">

    <h2 class="text-center mb-4">
        Proveedores
    </h2>

    <div class="text-center mb-4">

        <a
            href="{{ url_for('nuevo_proveedor') }}"
            class="btn btn-success">

            Registrar Proveedor

        </a>

    </div>

    <p>
        Información de los proveedores registrados
        en el sistema AgroTech.
    </p>

    <div class="row">

        {% for proveedor in proveedores %}

        <div class="col-md-4 mb-4">

            <div class="card shadow h-100 p-3">

                <h4>
                    {{ proveedor.nombre }}
                </h4>

                <p>
                    {{ proveedor.descripcion }}
                </p>

                {% if proveedor.estado == "Activo" %}

                    <span class="badge bg-success mb-3">
                        {{ proveedor.estado }}
                    </span>

                {% else %}

                    <span class="badge bg-danger mb-3">
                        {{ proveedor.estado }}
                    </span>

                {% endif %}

                <!-- BOTONES -->

                <div class="mt-auto">

                    <a
                        href="{{ url_for('editar_proveedor', id_proveedor=proveedor.id_proveedor) }}"
                        class="btn btn-warning btn-sm">

                        Editar

                    </a>

                    <form
                        action="{{ url_for('eliminar_proveedor', id_proveedor=proveedor.id_proveedor) }}"
                        method="POST"
                        class="d-inline">

                        <button
                            type="submit"
                            class="btn btn-danger btn-sm"
                            onclick="return confirm('¿Está seguro de eliminar este proveedor?');">

                            Eliminar

                        </button>

                    </form>

                </div>

            </div>

        </div>

        {% else %}

        <div class="alert alert-warning">
            No existen proveedores registrados.
        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}