<footer class="agrotech-footer">

    <div class="container">

        <div class="row g-4">


            <div class="col-lg-5">

                <img
                    src="{{ url_for('static', filename='img/logo-agrotech.png') }}"
                    alt="AgroTech"
                    class="footer-logo">

                <p class="footer-description">
                    Plataforma digital orientada a organizar
                    y gestionar información relacionada
                    con actividades agrícolas.
                </p>

            </div>


            <div class="col-md-6 col-lg-3">

                <h2 class="footer-title">
                    AgroTech
                </h2>

                <p class="footer-text">
                    Gestión agrícola inteligente
                </p>

                <p class="footer-text">
                    Desarrollo de Aplicaciones Web
                </p>

            </div>


            <div class="col-md-6 col-lg-4">

                <h2 class="footer-title">
                    Desarrollado por
                </h2>

                <p class="footer-text">
                    Lissi Antonella Cornejo Olaya
                </p>

                <p class="footer-text">
                    Jeison Teobaldo García Arreaga
                </p>

            </div>


        </div>


        <div class="footer-bottom">

            <span>
                © 2026 AgroTech
            </span>

            <span>
                Universidad Estatal Amazónica
            </span>

        </div>

    </div>

</footer>